<%- include("navbar.ejs") %>

  <div class="row">
    <div class="col-md-12">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
      <div style="position: absolute;top: -40px;z-index: 999;left: 600px;">
        <div>
          <% if (successMessage) { %>
            <div style="color: white;border: 1px solid #b66b79;padding: 20px;z-index: 999;background-color: #b66b79;"
              id="notification">
              <%= successMessage %>
            </div>
            <% } %>
              <script>
                setTimeout(function () {
                  // document.getElementById("notification").style.display = "none";
                  $("#notification").fadeOut(2000);
                }, 3000);
              </script>
        </div>
      </div>

      <div class="row" style="margin-top: -12px;">
        <div class="col-12 grid-margin stretch-card">
          <div class="card corona-gradient-card">
            <div class="card-body py-0 px-0 px-sm-3">
              <div class="row align-items-center" style="padding: 2px;">
                <div class="col-4 col-sm-3 col-xl-2">

                  <!-- <i class="ri-equalizer-line" style="font-size: 30px;"></i> -->
                  <i class="ri-equalizer-line" style="font-size: 30px;"></i>

                </div>
                <div class="col-5 col-sm-7 col-xl-8 p-0">
                  <h4 class="mb-1 mb-sm-0 text-dark"
                    style="margin-left: -57px;margin-top: 5px;text-transform: capitalize;">Breakfast Information</h4>

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 grid-margin">
          <div class="card">
            <div class="card-body">

                <!-- create table starter(str_id integer primary key auto_increment,first_dish varchar(100000),first_dish_dis text,second_dish varchar(20000),sec_des text,thir_dish varchar(20000),thir_dis text,fourth_dish varchar(20000),fourth_dis varchar(20000),fifth_dish varchar(30000),fifth_des text,sixth_dish varchar(20000),sixth_des text,fir_pri decimal,sec_pri decimal,thir_pri decimal,four_pri decimal,fif_pri decimal,six_pri decimal); -->

              <form class="form-sample" action="/admin/save_breakfast_data" enctype="multipart/form-data" method="post"
                id="myform">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">First Dish Name</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" name="first_dish" placeholder="First Dish Name" value="<%= start_data[0].first_dish %>" />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">First Dish Description</label>
                      <div class="col-sm-9">
                        <textarea class="form-control" name="first_dish_dis" placeholder="First Dish Description" ><%= start_data[0].first_dish_dis %></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">First Dish Price</label>
                      <div class="col-sm-9">
                        <input type="number" class="form-control" name="fir_pri" placeholder="First Dish Price" value="<%= start_data[0].fir_pri %>" />
                      </div>
                    </div>
                  </div>
                  
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Second Dish Name</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" name="second_dish" value="<%= start_data[0].second_dish %>" placeholder="Second Dish Name" />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Second Dish Description</label>
                      <div class="col-sm-9">
                        <textarea class="form-control" name="sec_des" placeholder="Second Dish Description" ><%= start_data[0].sec_des %></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Second Dish Price</label>
                      <div class="col-sm-9">
                        <input type="number" class="form-control" name="sec_pri" placeholder="Second Dish Price" value="<%= start_data[0].sec_pri %>" />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Thired Dish Name</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" name="thir_dish" value="<%= start_data[0].thir_dish %>" placeholder="Thired Dish Name" />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Thired Dish Description</label>
                      <div class="col-sm-9">
                        <textarea class="form-control" name="thir_dis" placeholder="Thired Dish Description" ><%= start_data[0].thir_dis %></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Thired Dish Price</label>
                      <div class="col-sm-9">
                        <input type="number" class="form-control" name="thir_pri" placeholder="Thired Dish Price" value="<%= start_data[0].thir_pri %>" />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Fourth Dish Name</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" name="fourth_dish" value="<%= start_data[0].fourth_dish %>" placeholder="Fourth Dish Name" />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Fourth Dish Description</label>
                      <div class="col-sm-9">
                        <textarea class="form-control" name="fourth_dis" placeholder="Thired Dish Description" ><%= start_data[0].fourth_dis %></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Fourth Dish Price</label>
                      <div class="col-sm-9">
                        <input type="number" class="form-control" name="four_pri" placeholder="Fourth Dish Price" value="<%= start_data[0].four_pri %>" />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Fifth Dish Name</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" name="fifth_dish" value="<%= start_data[0].fifth_dish %>" placeholder="Fifth Dish Name" />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Fifth Dish Description</label>
                      <div class="col-sm-9">
                        <textarea class="form-control" name="fifth_des" placeholder="Fifth Dish Description" ><%= start_data[0].fifth_des %></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Fifth Dish Price</label>
                      <div class="col-sm-9">
                        <input type="number" class="form-control" name="fif_pri" placeholder="Fifth Dish Price" value="<%= start_data[0].fif_pri %>" />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Sixth Dish Name</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" name="sixth_dish" value="<%= start_data[0].sixth_dish %>" placeholder="Sixth Dish Name" />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Sixth Dish Description</label>
                      <div class="col-sm-9">
                        <textarea class="form-control" name="sixth_des" placeholder="Sixth Dish Description" ><%= start_data[0].sixth_des %></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Sixth Dish Price</label>
                      <div class="col-sm-9">
                        <input type="number" class="form-control" name="six_pri" placeholder="Sixth Dish Price" value="<%= start_data[0].six_pri %>" />
                      </div>
                    </div>
                  </div>
                  
                </div>
               
            </div>

            <div class="row">
              <div class="col-md-12 text-center">
                <button type="submit" class="butt mr-2 my-4">Update</button>
              </div>
            </div>
            </form>
          </div>
        </div>
      </div>
      <br><br>

    

      




      <%- include("footer.ejs") %>