<%- include("navbar.ejs") %>


<div class="container">
    <div class="row" style="margin-top: -12px;">
        <div class="col-12 grid-margin stretch-card">
          <div class="card corona-gradient-card">
            <div class="card-body py-0 px-0 px-sm-3">
              <div class="row align-items-center" style="padding: 2px;">
                <div class="col-4 col-sm-3 col-xl-2">

                  <!-- <i class="ri-equalizer-line" style="font-size: 30px;"></i> -->
                  <!-- <i class="ri-equalizer-line" style="font-size: 30px;"></i> -->
                  <i class="ri-phone-line" style="font-size: 30px;"></i>

                </div>
                <div class="col-5 col-sm-7 col-xl-8 p-0">
                  <h4 class="mb-1 mb-sm-0 text-dark"
                    style="margin-left: -57px;margin-top: 5px;text-transform: capitalize;">Contact Information</h4>

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

    <div class="row">
        <div class="col-md-12 p-4 d-flex justify-content-end">
            <a href="/admin/delete_all_contact_data">
                <button class="btn btn-outline-danger" onclick="return confirm('Are You Sure To Delete All Record')">Delete All Data From Table</button>
            </a>
        </div>
        <div class="col-md-12">
            <table class="table table-bordered table-responsive table-hover text-center">
                <thead>
                    <tr>
                        <th>Delete data</th>
                        <th>srno</th>
                        <th>Contact Name</th>
                        <th>Contact Email</th>
                        <th>Contact Phone</th>
                        <th>Contact Subject</th>
                        <th>Contact Message</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(contact_data.length>0){ %>
                        <% for(var i=0;i<contact_data.length;i++){ %>
                            <tr>
                                <td>
                                    
                                      <a href="/admin/delete_contact_data?id=<%= contact_data[i].con_id %>"
                                        style="text-decoration: none;">
                                        <button type="button" class="btn btn-outline-youtube btn-sm"
                                          style="padding: 10px;text-align: center;"
                                          onclick="return confirm('Are You Sure To Delete Data')">
                                          <i class="ri-delete-bin-line"></i>
                                        </button>
                                      </a>
                                </td>
                                <td><%= i+1 %></td>
                                <td><%= contact_data[i].con_name %></td>
                                <td><%= contact_data[i].con_email %></td>
                                <td><%= contact_data[i].con_phone %></td>
                                <td><%= contact_data[i].con_subject %></td>
                                <td><%= contact_data[i].con_message %></td>
                            </tr>
                        <% } %>
                        
                    <% }else{ %>
                        <tr>
                            <td colspan="7" class="text-center">No Data Found</td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<%- include("footer.ejs") %>