<%- include("navbar.ejs") %>

<div class="row">
    <div class="col-md-12">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
      <div style="position: absolute;top: -40px;z-index: 999;left: 600px;">
        <div>
          <% if (successMessage) { %>
            <div style="color: white;border: 1px solid #b66b79;padding: 20px;z-index: 999;background-color: #b66b79;"
              id="notification">
              <%= successMessage %>
            </div>
            <% } %>
              <script>
                setTimeout(function () {
                  // document.getElementById("notification").style.display = "none";
                  $("#notification").fadeOut(2000);
                }, 3000);
              </script>
        </div>
      </div>
    </div>
</div>

<div class="row" style="margin-top: -12px;">
    <div class="col-12 grid-margin stretch-card">
      <div class="card corona-gradient-card">
        <div class="card-body py-0 px-0 px-sm-3">
          <div class="row align-items-center" style="padding: 2px;">
            <div class="col-4 col-sm-3 col-xl-2">

              <i class="ri-file-image-line" style="font-size: 30px;"></i>

            </div>
            <div class="col-5 col-sm-7 col-xl-8 p-0">
              <h4 class="mb-1 mb-sm-0 text-dark"
                style="margin-left: -57px;margin-top: 5px;text-transform: capitalize;">Update Hotel Facility Images</h4>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body">

          <!-- create table hotel_facility_discover_image (hot_fac_img integer primary key auto_increment,hotel_facility_image text,facility_desc varchar(1000)) -->
          <form class="form-sample" action="/admin/update_hotel_facility_image" enctype="multipart/form-data" method="post"
            id="myform">
            <input type="hidden" name="hot_fac_img" value="<%= fac_data[0].hot_fac_img %>">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Facility Description</label>
                  <div class="col-sm-9">
                    <textarea class="form-control" name="facility_desc"placeholder="Enter Facility Description"><%= fac_data[0].facility_desc %></textarea>
                  </div>
                </div>
              </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Hotel Facility Image</label>
                      <div class="col-sm-9">
                        <input type="file" class="form-control" name="hotel_facility_image" />
                      </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="/upload_image/hotel_discover_feature/<%= fac_data[0].hotel_facility_image %>" style="height: 150px;width: 150px;" alt="">
                </div>
            </div>

        </div>

        <div class="row">
          <div class="col-md-12 text-center">
            <button type="submit" class="butt mr-2 my-4">Update Data</button>
          </div>
        </div>

        </form>
      </div>
    </div>

  </div>

<%- include("footer.ejs") %>