<%- include("navbar.ejs") %>

  <div class="row">
    <div class="col-md-12">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
      <div style="position: absolute;top: -40px;z-index: 999;left: 600px;">
        <div>
          <% if (successMessage) { %>
            <div style="color: white;border: 1px solid #b66b79;padding: 20px;z-index: 999;background-color: #b66b79;"
              id="notification">
              <%= successMessage %>
            </div>
            <% } %>
              <script>
                setTimeout(function () {
                  // document.getElementById("notification").style.display = "none";
                  $("#notification").fadeOut(2000);
                }, 3000);
              </script>
        </div>
      </div>

      <div class="row" style="margin-top: -12px;">
        <div class="col-12 grid-margin stretch-card">
          <div class="card corona-gradient-card">
            <div class="card-body py-0 px-0 px-sm-3">
              <div class="row align-items-center" style="padding: 2px;">
                <div class="col-4 col-sm-3 col-xl-2">

                  <!-- <i class="ri-equalizer-line" style="font-size: 30px;"></i> -->
                  <!-- <i class="ri-equalizer-line" style="font-size: 30px;"></i> -->
                  <i class="ri-star-smile-fill" style="font-size: 30px;"></i>

                </div>
                <div class="col-5 col-sm-7 col-xl-8 p-0">
                  <h4 class="mb-1 mb-sm-0 text-dark"
                    style="margin-left: -57px;margin-top: 5px;text-transform: capitalize;">Update <%= offer_data[0].offer_name %> Information</h4>

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 grid-margin">
          <div class="card">
            <div class="card-body">
                <!-- create table offer(offer_id integer primary key auto_increment,offer_image text,offer_price decimal,offer_price_percentage integer,offer_name text); -->

                <!-- // create table offer_details (offer_det_id integer primary key auto_increment,offer_det_description text,offer_det_che_in text,offer_det_checkout text,offer_det_pets varchar(1000),total_person integer,wifi varchar(1000),offer_room_size integer,food_service varchar(2000)); -->

              <form class="form-sample" action="/admin/update_offer_data" enctype="multipart/form-data" method="post"
                id="myform">
                <input type="hidden" name="offer_id" id="" value="<%= offer_data[0].offer_id %>">
                <input type="hidden" name="offer_det_id" id="" value="<%= offer_data[0].offer_det_id %>">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Offer Name</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" name="offer_name" placeholder="Special Offer Name" value="<%= offer_data[0].offer_name %>" />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Offer Price</label>
                      <div class="col-sm-9">
                        <input type="number" class="form-control" name="offer_price" value="<%= offer_data[0].offer_price %>" placeholder="Enter Offer Price" />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Offer In Percentage</label>
                      <div class="col-sm-9">
                        <input type="Number" class="form-control" name="offer_price_percentage" placeholder="Enter Offer Percentage" value="<%= offer_data[0].offer_price_percentage %>" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Offer Image</label>
                          <div class="col-sm-9">
                            <input type="file" class="form-control" name="offer_image"/>
                          </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="/upload_image/offer_image/<%= offer_data[0].offer_image %>" style="height: 150px;width: 150px;" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="my-3 border border-danger p-3 text-white text-center"> <span class="text-danger lead">**</span>  <u>Special Offer Deatils</u> <span class="text-danger lead">**</span> </h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Offer Description</label>
                          <div class="col-sm-9">
                            <textarea class="form-control" name="offer_det_description" placeholder="Enter Special Offer Details"><%= offer_data[0].offer_det_description %></textarea>
                          </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Check In Deatils</label>
                          <div class="col-sm-9">
                            <input type="text" class="form-control" name="offer_det_che_in" placeholder="Check In Details" value="<%= offer_data[0].offer_det_che_in %>" />
                          </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Check Out Deatils</label>
                          <div class="col-sm-9">
                            <input type="text" class="form-control" name="offer_det_checkout" placeholder="Check Out Details" value="<%= offer_data[0].offer_det_checkout %>" />
                          </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Room Size</label>
                          <div class="col-sm-9">
                            <input type="text" class="form-control" name="offer_room_size" placeholder="Enter Room Size In Sq/ft" value="<%= offer_data[0].offer_room_size %>" />
                          </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Total Person</label>
                          <div class="col-sm-9">
                            <input type="number" class="form-control" name="total_person" placeholder="Enter Allowed Person In Rooms" value="<%= offer_data[0].total_person %>" />
                          </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Pets</label>
                          <div class="col-sm-9">
                            <select class="form-control" name="offer_det_pets">
                                <option value="Not Allowed" selected><%= offer_data[0].offer_det_pets %></option>
                              <option value="Allowed">Allowed</option>
                              <option value="Not Allowed">Not Allowed</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Wifi Connection</label>
                          <div class="col-sm-9">
                            <select class="form-control" name="wifi">
                                <option value="Not Available" selected><%= offer_data[0].wifi %></option>
                              <option value="Available">Available</option>
                              <option value="Not Available">Not Available</option>
                            </select>
                          </div>
                        </div>
                      </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Food Service</label>
                          <div class="col-sm-9">
                            <select class="form-control" name="food_service">
                                <option value="Not Available" selected><%= offer_data[0].food_service %></option>
                              <option value="Available">Available</option>
                              <option value="Not Available">Not Available</option>
                            </select>
                          </div>
                        </div>
                      </div>
                </div>
            </div>

            <div class="row">
              <div class="col-md-12 text-center">
                <button type="submit" class="butt mr-2 my-4">Update</button>
              </div>
            </div>
            </form>
          </div>
        </div>
      </div>
      <br><br>

     
      




      <%- include("footer.ejs") %>