<%- include("navbar.ejs") %>

  <div class="row">
    <div class="col-md-12">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
      <div style="position: absolute;top: -40px;z-index: 999;left: 600px;">
        <div>
          <% if (successMessage) { %>
            <div style="color: white;border: 1px solid #b66b79;padding: 20px;z-index: 999;background-color: #b66b79;"
              id="notification">
              <%= successMessage %>
            </div>
            <% } %>
              <script>
                setTimeout(function () {
                  // document.getElementById("notification").style.display = "none";
                  $("#notification").fadeOut(2000);
                }, 3000);
              </script>
        </div>
      </div>

      <div class="row" style="margin-top: -12px;">
        <div class="col-12 grid-margin stretch-card">
          <div class="card corona-gradient-card">
            <div class="card-body py-0 px-0 px-sm-3">
              <div class="row align-items-center" style="padding: 2px;">
                <div class="col-4 col-sm-3 col-xl-2">

                  <!-- <i class="ri-equalizer-line" style="font-size: 30px;"></i> -->
                  <!-- <i class="ri-equalizer-line" style="font-size: 30px;"></i> -->
                  <i class="ri-star-line" style="font-size: 30px;"></i>

                </div>
                <div class="col-5 col-sm-7 col-xl-8 p-0">
                  <h4 class="mb-1 mb-sm-0 text-dark"
                    style="margin-left: -57px;margin-top: 5px;text-transform: capitalize;">Special Offer Information</h4>

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 grid-margin">
          <div class="card">
            <div class="card-body">

              <!-- create table special_offer (special_id integer primary key auto_increment,special_offer_name varchar(20000),special_offer_price decimal,special_offer_percentage integer,special_offer_image text) -->
              <!-- create table special_offer_details(spd_id integer primary key auto_increment,special_offer_description text,check_in_details text,check_out_details text,special_checkin_instruction text,pets varchar(1000),allowed_person integer,wifi_con varchar(1000),room_size integer,breakfast varchar(100)) -->

              <form class="form-sample" action="/admin/save_special_offer_data" enctype="multipart/form-data" method="post"
                id="myform">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Special Offer Name</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" name="special_offer_name" placeholder="Special Offer Name" required />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Special Offer Price</label>
                      <div class="col-sm-9">
                        <input type="number" class="form-control" name="special_offer_price" required placeholder="Special Offer Price" />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Special Offer In Percentage</label>
                      <div class="col-sm-9">
                        <input type="Number" class="form-control" name="special_offer_percentage" placeholder="Special Offer Percentage" required />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Special Offer Image</label>
                      <div class="col-sm-9">
                        <input type="file" class="form-control" name="special_offer_image" required />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="my-3 border border-danger p-3 text-white text-center"> <span class="text-danger lead">**</span>  <u>Special Offer Deatils</u> <span class="text-danger lead">**</span> </h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Special Offer Description</label>
                          <div class="col-sm-9">
                            <textarea class="form-control" name="special_offer_description" required placeholder="Enter Special Offer Details"></textarea>
                          </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Check In Deatils</label>
                          <div class="col-sm-9">
                            <input type="text" class="form-control" name="check_in_details" placeholder="Check In Details" required />
                          </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Check Out Deatils</label>
                          <div class="col-sm-9">
                            <input type="text" class="form-control" name="check_out_details" placeholder="Check Out Details" required />
                          </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Special Check In Instruction</label>
                          <div class="col-sm-9">
                            <textarea class="form-control" name="special_checkin_instruction" required placeholder="Enter Special Check In Instruction"></textarea>
                          </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Room Size</label>
                          <div class="col-sm-9">
                            <input type="text" class="form-control" name="room_size" placeholder="Enter Room Size In Sq/ft" required />
                          </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Allowed Person</label>
                          <div class="col-sm-9">
                            <input type="number" class="form-control" name="allowed_person" placeholder="Enter Allowed Person In Rooms" required />
                          </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Pets</label>
                          <div class="col-sm-9">
                            <select class="form-control" required name="pets">
                                <option value="non" selected>Select Allowed/Not Allowed</option>
                              <option>Allowed</option>
                              <option>Not Allowed</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Wifi Connection</label>
                          <div class="col-sm-9">
                            <select class="form-control" required name="wifi_con">
                                <option value="non" selected>Select Available/Not Available</option>
                              <option value="Available">Available</option>
                              <option value="Not Available">Not Available</option>
                            </select>
                          </div>
                        </div>
                      </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">BreakFast</label>
                          <div class="col-sm-9">
                            <select class="form-control" required name="breakfast">
                                <option value="non" selected>Select Available/Not Available</option>
                              <option value="Available">Available</option>
                              <option value="Not Available">Not Available</option>
                            </select>
                          </div>
                        </div>
                      </div>
                </div>
            </div>

            <div class="row">
              <div class="col-md-12 text-center">
                <button type="submit" class="butt mr-2 my-4">Save</button>
              </div>
            </div>
            </form>
          </div>
        </div>
      </div>
      <br><br>

      <div class="container">
        <div class="row">
          <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Special Offer Information</h4>
                </p>
                <div class="table-responsive">
                  <table class="table table-hover text-center table-bordered">
                    <thead>
                      <tr>
                        <th> Update Data </th>
                        <th> SrNo </th>
                        <th> Special Offer Name </th>
                        <th> Special Offer Price </th>
                        <th> Special Offer Percenatge </th>
                        <th> Special Offer Description </th>
                        <th> Check In Details </th>
                        <th> Check Out Details </th>
                        <th> Special Checkin Instruction </th>
                        <th> Pets </th>
                        <th> Allowed Person </th>
                        <th> Wifi Connection </th>
                        <th> Room Size </th>
                        <th> BreakFast </th>
                        <th>Special Offer Image</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% if(special_offer.length>0){ %>
                        <% for(var i=0;i<special_offer.length;i++){ %>

                          <tr>
                            <td>
                              <a href="/admin/edit_special_offer_data/<%= special_offer[i].special_id %>/<%= special_offer[i].spd_id %>"
                                style="text-decoration: none;">
                                <button type="button" class="btn btn-outline-twitter btn-sm"
                                  style="padding: 10px;text-align: center;">
                                  <i class="ri-edit-box-line"></i>
                                </button>
                              </a>
                              <a href="/admin/delete_special_offer_data/<%= special_offer[i].special_id %>/<%= special_offer[i].spd_id %>"
                                style="text-decoration: none;">
                                <button type="button" class="btn btn-outline-youtube btn-sm"
                                  style="padding: 10px;text-align: center;"
                                  onclick="return confirm('Are You Sure To Delete Data')">
                                  <i class="ri-delete-bin-line"></i>
                                </button>
                              </a>

                            </td>
                            <td>
                              <%= i+1 %>
                            </td>
                            <td>
                              <%= special_offer[i].special_offer_name %>
                            </td>
                            <td>
                              <%= special_offer[i].special_offer_price %>
                            </td>
                            <td>
                              <%= special_offer[i].special_offer_percentage %>
                            </td>
                            <td style="height: 100%;width: 30% !important;">
                              <%= special_offer[i].special_offer_description %>
                            </td>
                            <td style="height: 100%;width: 60px !important;">
                              <%= special_offer[i].check_in_details %>
                            </td>
                            <td style="height: 100%;width: 60px !important;">
                              <%= special_offer[i].check_out_details %>
                            </td>
                            <td style="height: 100%;width: 60px !important;">
                              <%= special_offer[i].special_checkin_instruction %>
                            </td>
                            <td>
                              <%= special_offer[i].pets %>
                            </td>
                            <td>
                              <%= special_offer[i].allowed_person %>
                            </td>
                            <td>
                              <%= special_offer[i].wifi_con %>
                            </td>
                            <td>
                              <%= special_offer[i].room_size %>
                            </td>
                            <td>
                              <%= special_offer[i].breakfast %>
                            </td>

                            <td class="py-1">
                              <img src="/upload_image/special_offer_image/<%= special_offer[i].special_offer_image %>" alt="image" />
                            </td>
                          </tr>

                          <% } %>
                            <% }else{ %>
                              <tr style="text-align: center;">
                                <td colspan="15">Data Not Found</td>
                              </tr>
                              <% } %>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      




      <%- include("footer.ejs") %>