<%- include("navbar.ejs") %>

<div class="banner-header section-padding valign bg-img bg-fixed" data-overlay-dark="3" data-background="img/faq_banner.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center caption mt-90 ">
                <h5>Get in touch</h5>
                <h1>F.A.Qs (Frequently Asked Questions)</h1>
            </div>
        </div>
    </div>
</div>

<!-- faq section  -->
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10 p-5">
            <div class="accordion" id="accordionExample">
                <% for(var i=0;i<faq_data.length;i++){ %>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= i+1 %>" aria-expanded="true" aria-controls="collapseOne">
                           Q<%= i+1 %>]. <%= faq_data[i].faq_que %>
                          </button>
                        </h2>
                        <div id="collapse<%= i+1 %>" class="accordion-collapse collapse <%= (i==0)?'show':'' %>" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                              <p>
                                <%= faq_data[i].faq_ans %>
                              </p>
                          </div>
                        </div>
                      </div>
                <% } %>
                
              </div>
        </div>
    </div>
</div>

<%- include("footer.ejs") %>