    <!-- Footer -->
    <footer class="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-md-4 text-center">
                        <div class="footer-column footer-about text-center">
                            <img src="/upload_image/website_logo/<%= hotel_data[0].hotel_logo %>" alt="" style="height: 100px;width: 100px;">
                            <h3 class="footer-title text-center"><%= hotel_data[0].about_title %></h3>
                            <p class="footer-about-text"><%= hotel_data[0].about_description %></p>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="footer-column footer-explore clearfix">
                            <h3 class="footer-title text-left">Basic Links</h3>
                            <ul class="footer-explore-list list-unstyled">
                                <li><a href="/">Home</a></li>
                                <li><a href="/about">About</a></li>
                                <li><a href="/contact">Contact</a></li>
                                <li><a href="/facilites">Facility</a></li>
                                <li><a href="/our_team">Our Team</a></li>
                                <li><a href="/rooms">Rooms</a></li>
                                <li><a href="/metting_events">Metting & Events</a></li>
                                <li><a href="/foods_wine">Foods & Wines</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="footer-column footer-explore clearfix">
                            <h3 class="footer-title">Explore</h3>
                            <ul class="footer-explore-list list-unstyled">
                                <!-- <li><a href="/dining">Dining</a></li> -->
                                <li><a href="/terms_condition">Terms & Condition</a></li>
                                <li><a href="/privacy_policy">Privacy Policy</a></li>
                                <li><a href="/bussines_data">Bussiness</a></li>
                                <!-- <li><a href="/more_info">More Information</a></li> -->
                                <li><a href="/contact">Contact</a></li>
                                <li><a href="/gallery">Gallery</a></li>
                                <li><a href="/blog">Blog</a></li>
                                <li><a href="/rewards">Rewards</a></li>
                                <li><a href="/directory">Directory</a></li>
                                <li><a href="/career">Career</a></li>
                                <li><a href="/faq">FAQ</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="footer-column footer-contact">
                            <h3 class="footer-title">Contact</h3>
                            <p class="footer-contact-text"><%= hotel_data[0].hotel_address %></p>
                            <div class="footer-contact-info">
                                <p class="footer-contact-phone"><span class="flaticon-call"></span> <%= hotel_data[0].hotel_contact_number %></p>
                                <p class="footer-contact-mail"><%= hotel_data[0].hotel_email_id %></p>
                            </div>
                            <div class="footer-about-social-list">
                                <a href="<%= hotel_data[0].instagram_link %>" target="_blank"><i class="ri-instagram-line"></i></a>
                                <a href="<%= hotel_data[0].twitter_link %>" target="_blank"><i class="ri-twitter-line"></i></a>
                                <a href="<%= hotel_data[0].youtube_link %>" target="_blank"><i class="ri-youtube-line"></i></a>
                                <a href="<%= hotel_data[0].facebook_link %>" target="_blank"><i class="ri-facebook-circle-line"></i></a>
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="footer-bottom-inner">
                            <p class="footer-bottom-copy-right">All Rights Reserved By &nbsp;&nbsp; <a href="https://www.a2zithub.org/" style="color: #aa6a74;" target="_blank">A2Z IT HUB</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

   

    <!-- jQuery -->
    <script src="/js/jquery-3.6.3.min.js"></script>
    <script src="/js/jquery-migrate-3.0.0.min.js"></script>
    <script src="/js/modernizr-2.6.2.min.js"></script>
    <script src="/js/imagesloaded.pkgd.min.js"></script>
    <script src="/js/jquery.isotope.v3.0.2.js"></script>
    <script src="/js/pace.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/scrollIt.min.js"></script>
    <script src="/js/jquery.waypoints.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.stellar.min.js"></script>
    <script src="/js/jquery.magnific-popup.js"></script>
    <script src="/js/YouTubePopUp.js"></script>
    <script src="/js/select2.js"></script>
    <script src="/js/datepicker.js"></script>
    <script src="/js/smooth-scroll.min.js"></script>
    <script src="/js/custom.js"></script>

    <script>
        AOS.init({
            duration:2000
        });
      </script>
    
</body>

</html>