<%- include("navbar.ejs") %>

    <header class="about_header">

        <div class="about_banner_image">

            <div class="about_path">
                <h1>Terms & Condition</h1>
                <span class="first_data"><a href="/">Home</a></span> <b style="color: white;font-size: 18px;"> / </b>
                <span>Terms & Condition</span>
            </div>

        </div>

    </header>
    <section>

        <div class="container">
            <div class="row mt-5">
                <div class="col-md-12">
                    <div class="section-title" style="text-align: center;">Terms & conditions</div>
                    <div class="section-line" style="width: 520px;"></div>
                    <div class="section-subtitle">The Rose Gold Hotel</div>
                </div>
                <br><br>
                <% for(var i=0;i<ter_data.length;i++){ %>
                    <div class="col-12 col-md-12 col-lg-12">
                        <h4 class="p-0" style="text-transform: uppercase;"> <span class="display-4"><%= i+1 %></span> . <%= ter_data[i].ter_title %></h4>
                        <span class="empty"></span>
                        <ul class="m-5">
                            <li><%= ter_data[i].ter_desc %></li>
                        </ul>
                    </div>
                <% } %>
            </div>
    </section>
    <%- include("footer.ejs") %>